
*{
    box-sizing: border-box;
   
}
/*head*/
header{
    background-image: url(06.png); 
    height: 350px;
    background-size: cover;
    position: relative;
   
}
nav{
    background:linear-gradient(30deg ,red, yellow, green);
    height: 40px;
    top: 0px;
    width: 100%;
    position: absolute;
    
    
}
nav ul li{
    float: left;
    margin: 0px 12px;
    position: relative;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-weight: 700;
}
nav ul li ul{
    display:none;
   position: absolute;
   background-color: black;
  padding: 0px 10px;
}
nav ul li ul li{
    border-bottom: white solid 1px;
    padding: 0px 2px;
}
nav ul li ul li :hover{
    background-color: gray;
}
nav a {
    text-decoration: none;
}
nav ul li ul li a{
 color: white;
}
 nav ul li:hover ul{
     display: block;
 }

h1{
    text-decoration: overline;
 padding-top: 6vh;
 color: cyan;
text-align:center;
font-family: fantasy;
}
.logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    border: solid 2px rgb(253, 253, 253);
    
}



/*body*/
body{
display:flex;
flex-direction:column;
}
main{
    padding-top: 10px;
background-image: url(lion.jpg);
}


.gallary{
    border: red solid 1px;
}
.responsive{
   
 padding: 0 8px;   
  float: left;  
   width: 25%;
padding: 5px 8px;
}


video{
  width: 100%; 
  height: auto;
}
.desc{
    padding:10px;
    text-align: center;
    color: white;
}
/*footer*/

footer{
 background-color: rgb(0, 0, 0);
 padding: 4vh;
 height: 100%;
margin-top:auto;
 
 
}
.footer-col li,li{
list-style-type: none;
line-height: 30px;
}
.footer-col li a{
    text-decoration: none;
    color: blue;
}
.footer-col p{
    display: inline-block;
    height:auto ;
    width: 120px;
    vertical-align: auto;
    color: blue;
}
.footer-col img{
    height: 2vh;
    width:auto;
}
.footer-col h4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
 background-color: black;
 
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
width: 25%;
padding: 0 15px;
}
span{
   margin-left:10px ;
   color: blue;
}
.footer-col li :hover{
    padding-right: 10px;
}
.footer-bottom{
    background-color: rgb(132, 172, 41);
    border-top: 1px red solid;
}
.footer-bottom p{
    text-align: center;
    color: white;
}





@media screen and (max-width:700px){
    .responsive{
        width: 25%;
    }
    .footer-col{
        width: 25%;
        padding: 0 15px;
        }
      
}@media screen and (max-width:500px){
    .responsive{
        width: 100%;
        padding: 10px 0px;
    }
    .footer-col{
        width: 100%;
        padding: 15 0;
        }
}